.rectangle {
    height: 10px;
    width: 100%;
    background-color: rgb(247, 232, 204);
    position: absolute;
    top: 560%;
  }

.box1{
  height: 450px;
  width: 95%;
  background-color: rgb(209, 200, 181);
  position: absolute;
  top: 123%;
  left: 2.5%;
  border-radius: 30px 30px 30px 30px;
}

.box2{
  height: 400px;
  width: 95%;
  background-color: rgb(209, 200, 181);
  position: absolute;
  top: 207%;
  left: 2.5%;
  border-radius: 30px 30px 30px 30px;
}

.box3{
  height: 350px;
  width: 95%;
  background-color: rgb(209, 200, 181);
  position: absolute;
  top: 288%;
  left: 2.5%;
  border-radius: 30px 30px 30px 30px;
}

.box4{
  height: 340px;
  width: 95%;
  background-color: rgb(209, 200, 181);
  position: absolute;
  top: 363%;
  left: 2.5%;
  border-radius: 30px 30px 30px 30px;
}

.box5{
  height: 360px;
  width: 95%;
  background-color: rgb(209, 200, 181);
  position: absolute;
  top: 432%;
  left: 2.5%;
  border-radius: 30px 30px 30px 30px;
}

.box6{
  height: 330px;
  width: 95%;
  background-color: rgb(209, 200, 181);
  position: absolute;
  top: 500%;
  left: 2.5%;
  border-radius: 30px 30px 30px 30px;
}

h3{
    color: rgb(51, 40, 40);
    text-decoration: none;
    top: 20%;
    text-align: center;
    font-size: 35px;
    position: relative;
}

p{
  color: rgb(128, 109, 109);
  text-decoration: none;
  font-weight: 400;
  font-size: 130%;
}

.title{
    position: relative;
    top: 30px;
    left: 0%;
  }

.python{
    position: relative;
    top: 150px;
    left: 10%;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    width: 90%;
  }

.text1{
  width: 80%;
}
.h2{
  height: 100%;
  width: 100%;
  left: 20%;
}
.p{
  height: 100%;
  width: 100%;
}
.picture1{
  height: 100%;
  width: 100%;
}
.picture1 .actualPicture1{
  height: 100%;
  width: 100%;
}



.kiwii{
  position: absolute;
  top: 210%;
  left: 10%;
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  width: 90%;
}

.text2{
width: 80%;
}
.h2{
height: 100%;
width: 100%;
left: 20%;
}
.p{
height: 100%;
width: 100%;
}
.picture2{
height: 100%;
width: 100%;
}
.picture2 .actualPicture2{
height: 100%;
width: 100%;
}





.hotel{
  position: absolute;
  top: 289%;
  left: 10%;
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  width: 90%;
}

.text3{
width: 80%;


}
.h2{
height: 100%;
width: 100%;
left: 20%;

}
.p{
height: 100%;
width: 100%;

}
.picture3{
height: 90%;
width: 70%;

}
.picture3 .actualPicture3{
height: 100%;
width: 100%;

}



.java{
  position: absolute;
  top: 433%;
  left: 10%;
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  width: 90%;
}

.text4{
width: 80%;
}
.h2{
height: 100%;
width: 100%;
left: 20%;
}
.p{
height: 100%;
width: 100%;
}
.picture4{
height: 90%;
width: 70%;
}
.picture4 .actualPicture4{
height: 100%;
width: 100%;
}

.excel{
  position: absolute;
  top: 505%;
  left: 10%;
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  width: 90%;
}

.text5{
width: 80%;
}
.h2{
height: 100%;
width: 100%;
left: 20%;
}
.p{
height: 100%;
width: 100%;
}
.picture5{
height: 100%;
width: 100%;
}
.picture5 .actualPicture5{
height: 100%;
width: 70%;
}

.website{
  position: absolute;
  top: 366%;
  left: 10%;
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  width: 90%;
}

.text6{
width: 80%;
}
.h2{
height: 100%;
width: 100%;
left: 20%;
}
.p{
height: 100%;
width: 100%;
}
.picture6{
height: 100%;
width: 100%;
}
.picture6 .actualPicture6{
height: 100%;
width: 70%;
}